.lead__subtitle {
    text-align: center;
    margin: 4vh 0 7vh 0;
}

@media screen and (min-width: 1280px) { 
    .lead__subtitle {
        font-size: 1.875rem;
    }
} 

@media screen and (max-width: 1280px) and (min-width: 1024px) { 
    .lead__subtitle {
        font-size: 1.875rem;
    }
} 

@media screen and (max-width: 1024px) and (min-width: 768px) { 
    .lead__subtitle {
        font-size: 1.875rem;
    }
} 

@media screen and (max-width: 768px) and (min-width: 320px) { 
    .lead__subtitle {
        font-size: 1rem;
    }
}
